---
# Lint/analyse code with Super-Linter.
name: Checks

on:
  pull_request:
    branches: [main]
  push:
    branches: [main, 'releases/**']
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions: read-all

jobs:
  check:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        # python-version: ["3.9", "3.12", "3.14"]
        python-version: ["3.9", "3.12", "3.14"]

    permissions:
      contents: read
      statuses: write

    steps:
      - name: Checkout current
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Super-Linter
        # uses: super-linter/super-linter/slim@85f7611e0f7b53c8573cca84aa0ed4344f6f6a4d  # v7.2.1
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99  # v8.3.2
        env:
          # VALIDATE_ALL_CODEBASE: false  # lint and format new or changed files only
          FILTER_REGEX_EXCLUDE: (.*[.]conf.py|pull_request_template.md)
          FIX_PYTHON_RUFF_FORMAT: true
          FIX_PYTHON_RUFF: true
          IGNORE_GITIGNORED_FILES: true
          VALIDATE_BASH: true
          VALIDATE_CHECKOV: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_GIT_LEAKS: true
          VALIDATE_GIT_MERGE_CONFLICT_MARKERS: true
          VALIDATE_JSON: true
          VALIDATE_MARKDOWN: true
          VALIDATE_NATURAL_LANGUAGE: true
          VALIDATE_PERL: true
          VALIDATE_PYTHON_RUFF_FORMAT: true
          VALIDATE_PYTHON_RUFF: true
          VALIDATE_YAML: true
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
...
